<button mat-icon-button [matMenuTriggerFor]="notificaciones" aria-label="Icon Perfil">
    <mat-icon class="iconoNotificacion">cake</mat-icon>
  </button>
  <mat-menu #notificaciones="matMenu">
    <div *ngIf="!isAlertMin else viewCantidadMinAlert" >
      <span class="texto">Sin Notificaciones</span>
    </div>
    <ng-template #viewCantidadMinAlert>
      <div *ngFor="let tercero for terceros">
        <button mat-menu-item routerLink="terceros-editar/{{tercero.nit}}">
          <mat-icon class="colores">sentiment_very_satisfied</mat-icon>
          <span class="texto">Un Cliente esta cumpliendo a&ntilde;os </span>    
          {{tercero.nombre}}{{tercero.apellido}} 
        </button>
      </div>
      
    </ng-template>  
  </mat-menu>
