<h1>Configuraciones del sistema</h1>
<div class="row">
  <mat-card class="example-card col-md-3">
    <h3>Formatos de venta</h3>
    <div flex="100">
      <button mat-button [routerLink]='["/formatoVenta"]'>Ver formatos de venta</button>
    </div>
  </mat-card>
  <mat-card class="example-card col-md-3">
    <h3>Configuraciones</h3>
    <div flex="100">
      <button mat-button [routerLink]='["/cuentas"]'>Ver cuentas</button> <br />
      <button mat-button [routerLink]='["/marcas"]'>Ver marcas</button><br />
      <button mat-button [routerLink]='["/categorias"]'>Ver categorias</button> <br />
      <button mat-button [routerLink]='["/parametros"]'>Ver parametros</button>
    </div>
  </mat-card>
  <mat-card class="example-card col-md-3">
    <h3>Configuraciones Contabilidad</h3>
    <div flex="100">
      <button mat-button [routerLink]='["/impuestos"]'>Ver Impuestos</button> <br />
    </div>
  </mat-card>
</div>
