<h1 *ngIf="modoEdicion">Editar Formato</h1>
<h1 *ngIf="!modoEdicion">Agregar Formato</h1>
<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>

    <div class="form-group"
         [ngClass]="{'has-error': ((nombre.touched || nombre.dirty) && nombre.invalid)}">
      <label class="col-md-2 control-label"
             for="nombreId">Nombre</label>

      <div class="col-md-8">
        <input class="form-control"
               id="nombreId"
               type="text"
               formControlName="nombre"
               *ngIf="!modoEdicion" />
        
        <div class="alert alert-danger" *ngIf="((nombre.touched || nombre.dirty )&& nombre.invalid)">
          <span *ngIf="nombre.errors.required">
            El campo Nombre es requerido
          </span>
        </div>
      </div>
    </div>

   

    <div class="form-group"
         [ngClass]="{'has-error': ((abreviacion.touched || abreviacion.dirty) && abreviacion.invalid)}">
      <label class="col-md-2 control-label"
             for="abreviacionId">Abreviacion del Empleado</label>

      <div class="col-md-8">
        <input class="form-control"
               id="abreviacionId"
               type="text"
               formControlName="abreviacion" />
        <div class="alert alert-danger" *ngIf="((abreviacion.touched || abreviacion.dirty )&& abreviacion.invalid)">
          <span *ngIf="abreviacion.errors.required">
            El campo abreviacion es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((metrica.touched || metrica.dirty) && metrica.invalid)}">
      <label class="col-md-2 control-label"
             for="metricaId">Metrica</label>

      <div class="col-md-8">
        <mat-select formControlName="metrica" placeholder="Elija una opción" #metricaSelect>            
            <mat-option [value]="Peso">
                Peso
            </mat-option>
            <mat-option [value]="Volumen">
                Volumen
            </mat-option>
            <mat-option [value]="Unidad">
                Unidad
            </mat-option>
            <mat-option [value]="Otra">
                Otra
            </mat-option>
          </mat-select>        
        <div class="alert alert-danger" *ngIf="((metrica.touched || metrica.dirty )&& metrica.invalid)">
          <span *ngIf="metrica.errors.required">
            El campo metrica es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((factorConversion.touched || factorConversion.dirty) && factorConversion.invalid)}">
      <label class="col-md-2 control-label"
             for="factorConversionId">factorConversion del Tercero</label>

      <div class="col-md-8">
        <input class="form-control"
               id="factorConversionId"
               type="text"
               formControlName="factorConversion" />
        <div class="alert alert-danger" *ngIf="((factorConversion.touched || factorConversion.dirty ) && factorConversion.invalid)">
          <span *ngIf="factorConversion.errors.required">
            El campo factorConversion es requerido
          </span>
          <span *ngIf="factorConversion.errors.pattern">
            El campo factorConversion es numerico
          </span>
        </div>
      </div>
    </div>

    
    
    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-success"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Salvar
          </button>
          <button class="btn"
                  type="button"
                  [routerLink]='["/empleados"]'>
            Cancelar
          </button>
        </span>

      </div>

    </div>
  </fieldset>
</form>

