<h1 *ngIf="modoEdicion">Editar Nomina</h1>
<h1 *ngIf="!modoEdicion">Agregar Nomina</h1>
<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>

    <div class="form-group"
         [ngClass]="{'has-error': ((idEmpleado.touched || idEmpleado.dirty)&& idEmpleado.invalid)}">
      <label class="col-md-2 control-label"
             for="idEmpleadoId">Identificacion del Empleado</label>

      <div class="col-md-8">
        <select class="form-control"
                id="idEmpleadoId"
                type="text"
                required
                formControlName="idEmpleado">
          <option *ngFor="let empleado of empleados" [value]="empleado.id">{{empleado.idEmpleado}} -- {{empleado.nombres}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="((idEmpleado.touched || idEmpleado.dirty)&& idEmpleado.invalid)">
          <span *ngIf="idEmpleado.errors.required">
            El campo Empleado es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((diasTrabajados.touched || diasTrabajados.dirty)&& diasTrabajados.invalid)}">
      <label class="col-md-2 control-label"
             for="diasTrabajadosId">Días Trabajados</label>

      <div class="col-md-8">
        <input class="form-control"
               id="diasTrabajadosId"
               type="number"
               required
               formControlName="diasTrabajados" />
        <div class="alert alert-danger" *ngIf="((diasTrabajados.touched || diasTrabajados.dirty)&& diasTrabajados.invalid)">
          <span *ngIf="diasTrabajados.errors.required">
            El campo Días Trabajados es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((horaExtraDiurna.touched || horaExtraDiurna.dirty)&& horaExtraDiurna.invalid)}">
      <label class="col-md-2 control-label"
             for="horaExtraDiurnaId">Hora Extra Diurna</label>

      <div class="col-md-8">
        <input class="form-control"
               id="horaExtraDiurnaId"
               type="number"
               required
               formControlName="horaExtraDiurna" />
        <div class="alert alert-danger" *ngIf="((horaExtraDiurna.touched || horaExtraDiurna.dirty)&& horaExtraDiurna.invalid)">
          <span *ngIf="horaExtraDiurna.errors.required">
            El campo Hora Extra Diurna es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((horaExtraDiurnaFestivo.touched || horaExtraDiurnaFestivo.dirty)&& horaExtraDiurnaFestivo.invalid)}">
      <label class="col-md-2 control-label"
             for="horaExtraDiurnaFestivoId">Hora Extra Diurna Festivo</label>

      <div class="col-md-8">
        <input class="form-control"
               id="horaExtraDiurnaFestivoId"
               type="number"
               required
               formControlName="horaExtraDiurnaFestivo" />
        <div class="alert alert-danger" *ngIf="((horaExtraDiurnaFestivo.touched || horaExtraDiurnaFestivo.dirty)&& horaExtraDiurnaFestivo.invalid)">
          <span *ngIf="horaExtraDiurnaFestivo.errors.required">
            El campo Hora Extra Diurna Festivo es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((horaExtraNocturna.touched || horaExtraNocturna.dirty)&& horaExtraNocturna.invalid)}">
      <label class="col-md-2 control-label"
             for="horaExtraNocturnaId">Hora Extra Nocturna</label>

      <div class="col-md-8">
        <input class="form-control"
               id="horaExtraNocturnaId"
               type="number"
               required
               formControlName="horaExtraNocturna" />
        <div class="alert alert-danger" *ngIf="((horaExtraNocturna.touched || horaExtraNocturna.dirty)&& horaExtraNocturna.invalid)">
          <span *ngIf="horaExtraNocturna.errors.required">
            El campo Hora Extra Nocturna es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((horaExtraNocturnaFestivo.touched || horaExtraNocturnaFestivo.dirty)&& horaExtraNocturnaFestivo.invalid)}">
      <label class="col-md-2 control-label"
             for="horaExtraNocturnaFestivoId">Hora Extra Nocturna Festivo</label>

      <div class="col-md-8">
        <input class="form-control"
               id="horaExtraNocturnaFestivoId"
               type="number"
               required
               formControlName="horaExtraNocturnaFestivo" />
        <div class="alert alert-danger" *ngIf="((horaExtraNocturnaFestivo.touched || horaExtraNocturnaFestivo.dirty)&& horaExtraNocturnaFestivo.invalid)">
          <span *ngIf="horaExtraNocturnaFestivo.errors.required">
            El campo Hora Extra Nocturna Festivo es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((salarioBase.touched || salarioBase.dirty)&& salarioBase.invalid)}">
      <label class="col-md-2 control-label"
             for="salarioBaseId">Salario Base del empleado</label>

      <div class="col-md-8">
        <input class="form-control"
               id="salarioBaseId"
               type="number"
               required
               formControlName="salarioBase" />
        <div class="alert alert-danger" *ngIf="((salarioBase.touched || salarioBase.dirty)&& salarioBase.invalid)">
          <span *ngIf="salarioBase.errors.required">
            El campo Salario base del empleado es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((comisiones.touched || comisiones.dirty)&& comisiones.invalid)}">
      <label class="col-md-2 control-label"
             for="comisionesId">Comisiones del empleado</label>

      <div class="col-md-8">
        <input class="form-control"
               id="comisionesId"
               type="number"
               required
               formControlName="comisiones" />
        <div class="alert alert-danger" *ngIf="((comisiones.touched || comisiones.dirty)&& comisiones.invalid)">
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-success"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Salvar
          </button>
          <button class="btn"
                  type="button"
                  [routerLink]='["/nominas"]'>
            Cancelar
          </button>
        </span>

      </div>

    </div>
  </fieldset>
</form>


