<mat-tab-group>
    <mat-tab label="Inventario">
      <mat-grid-list cols="2" rowHeight="23em">
            <mat-grid-tile>
                <app-inventario-pie-chart></app-inventario-pie-chart>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-top-venta-productos-pie-chart></app-top-venta-productos-pie-chart>
            </mat-grid-tile>    
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Compras">
        <mat-grid-list cols="2" rowHeight="26em">
          <mat-grid-tile>
            <app-top-proveedores-pie-chart></app-top-proveedores-pie-chart>
          </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Ventas">
      <mat-grid-list cols="2" rowHeight="54em">
        <mat-grid-tile>
          <app-top-clientes-pie-chart>
          </app-top-clientes-pie-chart>
        </mat-grid-tile>
      </mat-grid-list>
     
    </mat-tab>
    <mat-tab label="Empleados">
        <mat-grid-list cols="2" rowHeight="25em">
            <mat-grid-tile>
                <app-top-empleados-pie-chart></app-top-empleados-pie-chart>                
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>
