<mat-tab-group>
    <mat-tab label="Inventario">
      <div class="row">
            <div class="col-lg-6">
                <app-inventario-pie-chart></app-inventario-pie-chart>
            </div>
            <div class="col-lg-6">
                <app-top-venta-productos-pie-chart></app-top-venta-productos-pie-chart>
            </div>    
          </div>
    </mat-tab>
    <mat-tab label="Compras">
        <div class="row">
          <div class="col-lg-6">
            <app-top-proveedores-pie-chart></app-top-proveedores-pie-chart>
          </div>
        </div>
    </mat-tab>
    <mat-tab label="Ventas">
      <div class="row">
        <div class="col-lg-6">
          <app-top-clientes-pie-chart></app-top-clientes-pie-chart>
        </div>        
      </div>     
    </mat-tab>
    <mat-tab label="Empleados">
        <div class="row">
            <div class="col-lg-6">
                <app-top-empleados-pie-chart></app-top-empleados-pie-chart>                
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
