<div >
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Nombre" #input>
    </mat-form-field>
    
    <mat-table  [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
      <!-- nombre Column -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
      </ng-container>
    
      <!-- empleadoId Column -->
      <ng-container matColumnDef="empleadoId">
        <mat-header-cell *matHeaderCellDef> empleadoId </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.empleadoId}} </mat-cell>
      </ng-container>
    
      <!-- tipo Column -->
      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef> tipo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tipo}} </mat-cell>
      </ng-container>
      <!--Options-->
      <ng-container matColumnDef="options">
        <mat-cell>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <button mat-icon-button *matCellDef="let element" [routerLink]='["/usuarios-editar/" + element.empleadoId]'>
          <mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete</mat-icon>Borrar</button>
      </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
      <!-- Row shown when there is no matching data. -->
      <mat-row  *matNoDataRow>
        <mat-cell colspan="4">No encontrado "{{input.value}}"</mat-cell>
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>    
</div>
  
