<h1 *ngIf="modoEdicion">Editar Tercero</h1>
<h1 *ngIf="!modoEdicion">Agregar Tercero</h1>
<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>

    <div class="form-group"
         [ngClass]="{'has-error': ((nit.touched || nit.dirty) && nit.invalid)}">
      <label class="col-md-2 control-label"
             for="nitId">Nit del Tercero</label>

      <div class="col-md-8">
        <input class="form-control"
               id="nitId"
               type="text"
               formControlName="nit"
               *ngIf="!modoEdicion" />
        <input class="form-control"
               id="nitId"
               type="text"
               formControlName="nit"
               *ngIf="modoEdicion"
               disabled />
        <div class="alert alert-danger" *ngIf="((nit.touched || nit.dirty )&& nit.invalid)">
          <span *ngIf="nit.errors.required">
            El campo Nit es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((nombre.touched || nombre.dirty) && nombre.invalid)}">
      <label class="col-md-2 control-label"
             for="nombreId">Nombre del Tercero</label>

      <div class="col-md-8">
        <input class="form-control"
               id="nombreId"
               type="text"
               formControlName="nombre" />
        <div class="alert alert-danger" *ngIf="((nombre.touched || nombre.dirty ) && nombre.invalid)">
          <span *ngIf="nombre.errors.required">
            El campo Nombre es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((apellido.touched || apellido.dirty) && apellido.invalid)}">
      <label class="col-md-2 control-label"
             for="apellidoId">Apellido del Tercero</label>

      <div class="col-md-8">
        <input class="form-control"
               id="apellidoId"
               type="text"
               formControlName="apellido" />
        <div class="alert alert-danger" *ngIf="((apellido.touched || apellido.dirty )&& apellido.invalid)">
          <span *ngIf="apellido.errors.required">
            El campo Apellido es requerido
          </span>
        </div>
      </div>
    </div>

    

    <div class="form-group"
         [ngClass]="{'has-error': ((tipoTercero.touched || tipoTercero.dirty)&& tipoTercero.invalid)}">
      <label class="col-md-2 control-label"
             for="tipoTerceroId">Tipo Tercero</label>

      <div class="col-md-8">
        <select class="form-control"
                id="tipoTerceroId"
                type="text"
                required
                formControlName="tipoTercero">
          <option value="Cliente">Cliente</option>
          <option value="Proveedor">Proveedor</option>
        </select>
        <div class="alert alert-danger" *ngIf="((tipoTercero.touched || tipoTercero.dirty)&& tipoTercero.invalid)">
          <span *ngIf="tipoTercero.errors.required">
            El campo Tipo Tercero es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((celular.touched || celular.dirty) && celular.invalid)}">
      <label class="col-md-2 control-label"
             for="celularId">Celular del Tercero</label>

      <div class="col-md-8">
        <input class="form-control"
               id="celularId"
               type="text"
               formControlName="celular" />
        <div class="alert alert-danger" *ngIf="((celular.touched || celular.dirty )&& celular.invalid)">
          <span *ngIf="celular.errors.required">
            El campo Celular es requerido
          </span>
          <span *ngIf="celular.errors.pattern">
            El campo Celular es numerico
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((correo.touched || correo.dirty) && correo.invalid)}">
      <label class="col-md-2 control-label"
             for="correoId">Correo del Tercero</label>

      <div class="col-md-8">
        <input class="form-control"
               id="correoId"
               type="email"
               formControlName="correo" />
        <div class="alert alert-danger" *ngIf="((correo.touched || correo.dirty ) && correo.invalid)">
          <span *ngIf="correo.errors.required">
            El campo Correo es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((direccion.touched || direccion.dirty) && direccion.invalid)}">
      <label class="col-md-2 control-label"
             for="direccionId">Direccion del Tercero</label>

      <div class="col-md-8">
        <input class="form-control"
               id="direccionId"
               type="text"
               formControlName="direccion" />
        <div class="alert alert-danger" *ngIf="((direccion.touched || direccion.dirty ) && direccion.invalid)">
          <span *ngIf="direccion.errors.required">
            El campo Direccion es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': ((descripcion.touched || descripcion.dirty) && descripcion.invalid)}">
      <label class="col-md-2 control-label"
             for="descripcionId">Descripcion del Tercero</label>

      <div class="col-md-8">
        <input class="form-control"
               id="descripcionId"
               type="text"
               formControlName="descripcion" />
        <div class="alert alert-danger" *ngIf="((descripcion.touched || descripcion.dirty ) && descripcion.invalid)">
          <span *ngIf="descripcion.errors.required">
            El campo Descripcion es requerido
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" 
    [ngClass]="{'has-error': ((fechaCumple.touched || fechaCumple.dirty) && fechaCumple.invalid)}">
      <div class="col-md-10">
          <mat-form-field color="accent" appearance="fill">
              <mat-label>Fecha de Cumpleaños</mat-label>
              <input 
              id="fechaCumpleId"
              formControlName="fechaCumple" matInput [matDatepicker]="picker1"/>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <div class="alert alert-danger" *ngIf="((fechaCumple.touched || fechaCumple.dirty ) && fechaCumple.invalid)">
                <span *ngIf="fechaCumple.errors.required">
                  El campo Fecha de Cumple es requerido
                </span>
              </div>
          </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-success"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Salvar
          </button>
          <button class="btn"
                  type="button"
                  [routerLink]='["/terceros"]'>
            Cancelar
          </button>
        </span>

      </div>

    </div>
  </fieldset>
</form>
