<div class="container">
    <h6>Buscar Tipo Movimiento</h6>
<div class="ng-autocomplete">
    <ng-autocomplete 
      [data]="data"
      [searchKeyword]="keyword"
      (selected)='selectEvent($event)'      
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate">                                 
    </ng-autocomplete>
     
    <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.nombre"></a>
    </ng-template>
     
    <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
    </ng-template>
</div>
</div>

