<div class="row">
  <div class="col-lg-4">
    <app-promedio-ventas [icon]="'all_out'" [title]="'Ventas'" 
     [value]="2000" [color]="'red'" [percentValue]="0.30" 
     [isIncrease]="true" [duration]="'Ultimo Mes'"
     [isCurrency]="true"></app-promedio-ventas>
  </div>
  <div class="col-lg-4">
    <app-promedio-ventas [icon]="'all_out'" [title]="'Ventas'"
                     [value]="2000" [color]="'gold'" [percentValue]="0.30"
                     [isIncrease]="true"
                     [isCurrency]="true"></app-promedio-ventas>
                    </div>
                    <!--<app-total-ventas></app-total-ventas>-->
  <div class="col-lg-4">
    <app-promedio-ventas [icon]="'all_out'" [title]="'Ventas'"
    [value]="2000" [color]="'purple'" [percentValue]="0.30"
    [isIncrease]="true"
    [isCurrency]="true"></app-promedio-ventas>
  </div>
  
  <!--<app-total-ordenes></app-total-ordenes>-->  
</div>






