div.scroll_vertical {
	height: 300px;
	width: 100%;
	overflow: auto;
	border: 1px solid;	
	padding: 8px;
}

.botonSeleccionarProducto {
  float: left;
  margin-left: 12px;
}

.divtotalesfactura {
  margin-top: 20px;
}
