<h1 *ngIf="modoEdicion && TipoMov == 'Venta'">Editar Factura</h1>
<h1 *ngIf="!modoEdicion && TipoMov == 'Venta'">Agregar Factura</h1>
<h1 *ngIf="modoEdicion && TipoMov == 'Compra'">Editar Factura</h1>
<h1 *ngIf="!modoEdicion && TipoMov == 'Compra'">Agregar Factura</h1>
<mat-divider></mat-divider>
<br>
<form class="form-horizontal" novalidate
      [formGroup]="formGroup">
  <fieldset>
<!-- Información de la factura -->
    <div class="row">
      <div class="form-group col-md-3"
           [ngClass]="{'has-error': ((empleadoId.touched || empleadoId.dirty) && empleadoId.invalid)}">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Seleccionar Empleado
              </mat-panel-title>
              <mat-panel-description>
                {{currentEmpleado}}--{{empleadoId.value}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <app-empleado-select (messageEvent)="receiveMessageEmpleado($event)"></app-empleado-select>

            <label class="col-md-10 control-label"
                   for="empleadoIdId">ID del Empleado</label>

            <div class="col-md-10">
              <input class="form-control"
                     id="empleadoIdId"
                     type="text"
                     formControlName="empleadoId" />
              <div class="alert alert-danger" *ngIf="((empleadoId.touched || empleadoId.dirty )&& empleadoId.invalid)">
                <span *ngIf="empleadoId.errors.required">
                  El campo empleadoId es requerido
                </span>

              </div>
            </div>


          </mat-expansion-panel>

        </mat-accordion>
      </div>
      <!-- Tercero Id-->

      <div class="form-group col-md-3"
           [ngClass]="{'has-error': ((tercerosId.touched || tercerosId.dirty) && tercerosId.invalid)}">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Seleccionar Tercero
              </mat-panel-title>
              <mat-panel-description>
                {{currentTerceros}}--{{tercerosId.value}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <app-terceros-select [TipoMov]="TipoMov" (messageEvent)="receiveMessageTerceros($event)"></app-terceros-select>

            <label class="col-md-10 control-label"
                   for="tercerosIdId">ID del terceros</label>

            <div class="col-md-10">
              <input class="form-control"
                     id="tercerosIdId"
                     type="text"
                     formControlName="tercerosId" />
              <div class="alert alert-danger" *ngIf="((tercerosId.touched || tercerosId.dirty )&& tercerosId.invalid)">
                <span *ngIf="tercerosId.errors.required">
                  El campo tercerosId es requerido
                </span>

              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="form-group col-md-3">
        <mat-form-field id="tipoMovimientoIdid" [ngClass]="{'has-error': ((tipoMovimientoId.touched || tipoMovimientoId.dirty)&& tipoMovimientoId.invalid)}">
          <mat-select formControlName="tipoMovimientoId" placeholder="Elija una opción" #tipoMovimientoIdSelect>            
            <mat-option *ngFor="let tipo of tipoMovimientos" [value]="tipo.idMovimiento">
              {{tipo.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="alert alert-danger" *ngIf="((tipoMovimientoId.touched || tipoMovimientoId.dirty)&& tipoMovimientoId.invalid)">
          <span *ngIf="tipoMovimientoId.errors.required">
            El campo tipoMovimientoId es requerido
          </span>
        </div>
      </div>
      <!-- Fechas-->
      <div class="form-group col-md-3">
        <div class="col-md-10">
          <mat-form-field color="accent" appearance="fill">
            <mat-label>FechaPago</mat-label>
            <input id="fechaPagoId"
                   formControlName="fechaPago" matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
<!-- Productos de la factura -->
<div>
  <mat-divider></mat-divider>
  <br>
  <h3>Agregar Nuevo Producto</h3>
  <div class="row">
    <div class="form-group example-button-container">
      <button mat-fab color="primary" aria-label="Agregar Nuevo Producto"
              (click)="agregarDFactura()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-accordion class="botonSeleccionarProducto">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Seleccionar Producto
          </mat-panel-title>
          <mat-panel-description>
            {{currentProductoDescripcion}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-productos-select (messageEvent)="receiveMessageProducto($event)"></app-productos-select>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="scroll_vertical">
    <div formArrayName="dFacturas" *ngFor="let dFactura of dFacturas.controls;
    let i=index">
      <div [formGroupName]="i">
        <div class="form-group row" >
          <!--Referencia de Productos-->
          <div class="form-group col-md-1" style="width: 14%">
            <label class="control-label"
                   for="referenciaId">Referencia</label>
            <div>
              <input class="form-control"
                     id="referenciaId"
                     type="text"
                     formControlName="referencia"
                     disabled />
              <div class="alert alert-danger" *ngIf="((referencia.touched || referencia.dirty )&& referencia.invalid)">
                <span *ngIf="referencia.errors.required">
                  El campo referencia es requerido
                </span>

              </div>
            </div>
          </div>
          <!--Descripcion de Productos-->
          <div class="form-group col-md-2">
            <label class="control-label"
                   for="descripcion">Descripcion</label>
            <div>
              <input class="form-control"
                     id="descripcion"
                     type="text"
                     formControlName="descripcion"
                     disabled />
              <div class="alert alert-danger" *ngIf="((descripcion.touched || descripcion.dirty )&& descripcion.invalid)">
                <span *ngIf="descripcion.errors.required">
                  El campo descripcion es requerido
                </span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-auto">
            <label class="control-label"
                   for="promocionId">Promocion</label>
            <div>
              <select class="form-control"
                      id="promocionId"
                      type="text"
                      formControlName="promocionId">
                <option *ngFor="let promocion of promociones" [value]="promocion.nombre">{{promocion.nombre}} -- {{promocion.porcentajeDesc}}</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-auto"
               [ngClass]="{'has-error': ((bodega.touched || bodega.dirty)&& bodega.invalid)}">
            <label class="control-label"
                   for="bodegaId">Bodega</label>

            <div>
              <select class="form-control"
                      id="bodegaId"
                      type="text"
                      required
                      formControlName="bodega">
                <option *ngFor="let bodega of bodegas" [value]="bodega.bodegaId">{{bodega.bodegaId}} -- {{bodega.nombre}}</option>
              </select>
              <div class="alert alert-danger" *ngIf="((bodega.touched || bodega.dirty)&& bodega.invalid)">
                <span *ngIf="bodega.errors.required">
                  El campo Bodega es requerido
                </span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-1">
            <label class="control-label"
                   for="ivaId">IVA</label>

            <div>
              <input class="form-control"
                     id="ivaId"
                     type="number"
                     formControlName="ivaProducto"
                     disabled />
                     <input type="hidden" formControlName="iVA"/>
            </div>
          </div>

          <div class="form-group col-md-auto">
            <label class="control-label"
                   for="formatoVentaId">Formato</label>

            <div>
              <input type="hidden" class="form-control" formControlName="formatoVentaOriginal">
              <mat-select  formControlName="formatoVenta" placeholder="Elija una opción" #formatoVentaIdSelect (selectionChange)="cantidadCapture()">
                <mat-option *ngFor="let tipo of formatosVenta" [value]="tipo.nombre">
                  {{tipo.nombre}}
                </mat-option>
              </mat-select>
              <div class="alert alert-danger" *ngIf="((formatoVenta.touched || formatoVenta.dirty )&& formatoVenta.invalid)">
                <span *ngIf="formatoVenta.errors.required">
                  El campo formatoVenta es requerido
                </span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-1" style="width: 50%"
               [ngClass]="{'has-error': ((precioUnitario.touched || precioUnitario.dirty) && precioUnitario.invalid)}">
            <label class="control-label"
                   for="precioUnitario">Precio U</label>
            <div>
              <input class="form-control"
                     id="precioUnitario"
                     type="number"
                     formControlName="precioUnitario" disabled />
                     <input type="hidden" formControlName="precioTotal" />
              <div class="alert alert-danger" *ngIf="((precioUnitario.touched || precioUnitario.dirty )&& precioUnitario.invalid)">
                <span *ngIf="precioUnitario.errors.required">
                  El campo precioUnitario es requerido
                </span>
                <span *ngIf="precioUnitario.errors.pattern">
                  El campo precioUnitario es numerico
                </span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-1"
               [ngClass]="{'has-error': ((cantidad.touched || cantidad.dirty) && cantidad.invalid)}">
            <label class="control-label"
                   for="cantidadId">Cantidad </label>

            <div>
              <input class="form-control"
                     id="cantidadId"
                     type="number"
                     formControlName="cantidad" (change)="cantidadCapture()" />
              <div class="alert alert-danger" *ngIf="((cantidad.touched || cantidad.dirty )&& cantidad.invalid)">
                <span *ngIf="cantidad.errors.required">
                  El campo cantidad es requerido
                </span>
                <span *ngIf="cantidad.errors.pattern">
                  El campo cantidad es numerico
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-1 example-button-container">
            <button mat-fab color="warn" aria-label="Eliminar"
                    (click)="removerDFactura(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>

<!-- Totales de la factura -->
<div class="row divtotalesfactura">
  <div class="form-group col-md-2"
       [ngClass]="{'has-error': ((valorDevolucion.touched || valorDevolucion.dirty) && valorDevolucion.invalid)}">
    <label class="control-label"
           for="valorDevolucionId">Valor Devolucion</label>

    <div>
      <input class="form-control"
             id="valorDevolucionId"
             type="text"
             formControlName="valorDevolucion" />
      <div class="alert alert-danger" *ngIf="((valorDevolucion.touched || valorDevolucion.dirty )&& valorDevolucion.invalid)">
        <span *ngIf="valorDevolucion.errors.required">
          El campo ValorDevolucion es requerido
        </span>
        <span *ngIf="valorDevolucion.errors.pattern">
          El campo ValorDevolucion es numerico
        </span>
      </div>
    </div>
  </div>

  <div class="form-group col-md-2"
       [ngClass]="{'has-error': ((descuento.touched || descuento.dirty) && descuento.invalid)}">
    <label class="control-label"
           for="descuentoId">Descuento</label>

    <div>
      <input class="form-control"
             id="descuentoId"
             type="text"
             formControlName="descuento" />
      <div class="alert alert-danger" *ngIf="((descuento.touched || descuento.dirty )&& descuento.invalid)">
        <span *ngIf="descuento.errors.required">
          El campo Descuento es requerido
        </span>
        <span *ngIf="descuento.errors.pattern">
          El campo Descuento es numerico
        </span>
      </div>
    </div>
  </div>
  <div class="form-group col-md-2"
       [ngClass]="{'has-error': ((abono.touched || abono.dirty) && abono.invalid)}">
    <label class="control-label"
           for="abonoId">Abono</label>

    <div>
      <input class="form-control"
             id="abonoId"
             type="text"
             formControlName="abono" />
      <div class="alert alert-danger" *ngIf="((abono.touched || abono.dirty )&& abono.invalid)">
        <span *ngIf="abono.errors.required">
          El campo abono es requerido
        </span>
        <span *ngIf="abono.errors.pattern">
          El campo abono es numerico
        </span>
      </div>
    </div>
  </div>

  <div class="form-group col-md-2">
    <label class="control-label"
           for="subTotalId">SubTotal</label>
    <div>
      <input class="form-control"
             id="subTotalId"
             type="text"
             formControlName="subTotal"
             value={{SubTotal}}
             disabled />
    </div>
  </div>

  <div class="form-group col-md-2">
    <label class="control-label"
           for="ivaTotalId">Iva total</label>
    <div>
      <input class="form-control"
             id="ivaTotalId"
             type="number"
             formControlName="iVA"
             value={{Calculoiva}}
             disabled />
    </div>
  </div>

  <div class="form-group col-md-2">
    <label class="control-label"
           for="totalId">Total</label>
    <div>
      <input class="form-control"
             id="totalId"
             type="number"
             formControlName="total"
             value={{Total}}
             disabled />
    </div>
  </div>
</div>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-2">
      <span>
        <button class="btn btn-success"
                type="submit"
                (click)="save()"
                [disabled]="!formGroup.valid">
          Salvar
        </button>
        <button class="btn btn-secondary"
                type="button"
                (click)="refresh()">
          Refrescar
        </button>
        <button class="btn"
                type="button"
                (click)="cancelar()">
          Cancelar
        </button>
      </span>
    </div>
  </div>

  </fieldset>
</form>
