.dashboard-card {
  /*position: absolute;*/
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
}
.card-header {
  background-color: white;
  justify-content: center;
  border-bottom: hidden;
}
.value-text {
  margin: 0;
}

.title-text {
  font-weight: 400;
  margin: 0;
  text-align: center;
  color: grey;
}

.avatar-icon {
  margin: 15px;
  transform: scale(3);
}

.duration {
  color: grey;
}

.difference-text {
  text-align: center;
  margin-top: 10px;
}

.card-icon {
  margin-right: 15px;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}
.red {
  color: red;
}
.gold{
  color: gold;
}

.purple{
  color: blueviolet;
}
