<div class="table-responsive">
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <!-- nominaId Column -->
      <ng-container matColumnDef="nominaId">
        <th mat-header-cell *matHeaderCellDef> NominaId </th>
        <td *matCellDef="let element"> {{element.nominaId}} </td>
      </ng-container>
      <!-- idEmpleado Column -->
      <ng-container matColumnDef="idEmpleado">
        <th mat-header-cell *matHeaderCellDef> IdEmpleado </th>
        <td *matCellDef="let element"> {{element.idEmpleado}} </td>
      </ng-container>
      <!-- nombreEmpleado Column -->
      <ng-container matColumnDef="nombreEmpleado">
        <th mat-header-cell *matHeaderCellDef> Nombre Empleado </th>
        <td *matCellDef="let element"> {{element.nombreEmpleado}} </td>
      </ng-container>
      <!-- mes Column -->
      <ng-container matColumnDef="mes">
        <th mat-header-cell *matHeaderCellDef> Mes </th>
        <td *matCellDef="let element"> {{element.mes}} </td>
      </ng-container>
      <!-- anio Column -->
      <ng-container matColumnDef="anio">
        <th mat-header-cell *matHeaderCellDef> Año </th>
        <td *matCellDef="let element"> {{element.anio}} </td>
      </ng-container>
      <!-- sueldoOrdinario Column -->
      <ng-container matColumnDef="sueldoOrdinario">
        <th mat-header-cell *matHeaderCellDef> SueldoOrdinario </th>
        <td *matCellDef="let element"> {{element.sueldoOrdinario| currency: 'USD'}} </td>
      </ng-container>
      <!-- subTransporte Column -->
      <ng-container matColumnDef="subTransporte">
        <th mat-header-cell *matHeaderCellDef> SubTransporte </th>
        <td *matCellDef="let element"> {{element.subTransporte| currency: 'USD'}} </td>
      </ng-container>
      <!-- totalDevengado Column -->
      <ng-container matColumnDef="totalDevengado">
        <th mat-header-cell *matHeaderCellDef> TotalDevengado </th>
        <td *matCellDef="let element"> {{element.totalDevengado| currency: 'USD'}} </td>
      </ng-container>
      
      <!-- salud_Empleador Column -->
      <!--<ng-container matColumnDef="salud_Empleador">
        <th mat-header-cell *matHeaderCellDef> Salud Empleador </th>
        <td *matCellDef="let element"> {{element.salud_Empleador| currency: 'USD'}} </td>
      </ng-container>-->
      <!-- salud_Trabajado Column -->
      <!--<ng-container matColumnDef="salud_Trabajador">
        <th mat-header-cell *matHeaderCellDef> Salud Trabajador </th>
        <td *matCellDef="let element"> {{element.salud_Trabajador| currency: 'USD'}} </td>
      </ng-container>-->
      <!-- pension_Trabajado Column -->
      <!--<ng-container matColumnDef="pension_Trabajador">
        <th mat-header-cell *matHeaderCellDef> Pension Trabajador </th>
        <td *matCellDef="let element"> {{element.pension_Trabajador| currency: 'USD'}} </td>
      </ng-container>-->
      <!-- pension_Empleado Column -->
      <!--<ng-container matColumnDef="pension_Empleado">
        <th mat-header-cell *matHeaderCellDef> Pension Empleado </th>
        <td *matCellDef="let element"> {{element.pension_Empleado| currency: 'USD'}} </td>
      </ng-container>-->
      <!-- prima Column -->
      <!--<ng-container matColumnDef="prima">
        <th mat-header-cell *matHeaderCellDef> Prima </th>
        <td *matCellDef="let element"> {{element.prima| currency: 'USD'}} </td>
      </ng-container>-->
      <!-- cesantia Column -->
      <!--<ng-container matColumnDef="cesantia">
        <th mat-header-cell *matHeaderCellDef> Cesantias </th>
        <td *matCellDef="let element"> {{element.cesantia| currency: 'USD'}} </td>
      </ng-container>-->
      <!-- int_Cesantia Column -->
      <!--<ng-container matColumnDef="int_Cesantia">
        <th mat-header-cell *matHeaderCellDef> Cesantias Int </th>
        <td *matCellDef="let element"> {{element.int_Cesantia| currency: 'USD'}} </td>
      </ng-container>-->
      <!-- vacaciones Column -->
      <!--<ng-container matColumnDef="vacaciones">
        <th mat-header-cell *matHeaderCellDef> Vacaciones </th>
        <td *matCellDef="let element"> {{element.vacaciones| currency: 'USD'}} </td>
      </ng-container>-->
      <!-- arl Column -->
      <!--<ng-container matColumnDef="arl">
        <th mat-header-cell *matHeaderCellDef> ARL </th>
        <td *matCellDef="let element"> {{element.arl| currency: 'USD'}} </td>
      </ng-container>-->
      <!-- caja_Comp Column -->
      <!--<ng-container matColumnDef="caja_Comp">
        <th mat-header-cell *matHeaderCellDef> Caja Comp </th>
        <td *matCellDef="let element"> {{element.caja_Comp| currency: 'USD'}} </td>
      </ng-container>-->
      <!-- iCBF Column -->
      <!--<ng-container matColumnDef="iCBF">
        <th mat-header-cell *matHeaderCellDef> ICBF </th>
        <td *matCellDef="let element"> {{element.iCBF| currency: 'USD'}} </td>
      </ng-container>-->
      <!-- sENA Column -->
      <!--<ng-container matColumnDef="sENA">
        <th mat-header-cell *matHeaderCellDef> SENA </th>
        <td *matCellDef="let element"> {{element.sENA| currency: 'USD'}} </td>
      </ng-container>-->
      <!-- totalDeducido Column -->
      <ng-container matColumnDef="totalDeducido">
        <th mat-header-cell *matHeaderCellDef> Total Deducido </th>
        <td *matCellDef="let element"> {{element.totalDeducido| currency: 'USD'}} </td>
      </ng-container>
      <!-- totalPagar Column -->
      <ng-container matColumnDef="totalPagar">
        <th mat-header-cell *matHeaderCellDef> Total Pagar </th>
        <td *matCellDef="let element"> {{element.totalPagar| currency: 'USD'}} </td>
      </ng-container>

      <!--Options-->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="Eliminar(element.nominaId, element.idEmpleado)"><mat-icon>delete_outline</mat-icon></button>
          <button mat-icon-button [routerLink]='["/liquidacionks-editar/" + element.idEmpleado]'><mat-icon>launch</mat-icon></button>
          <button mat-icon-button (click)="printPDFLiquidacion(element.idEmpleado,element.nominaId)"><mat-icon>print</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr mat-row *matNoDataRow>
        <td mat-cell colspan="8">No encontrado "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>    
</div>
  




